
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_9_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_9_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_base_2_9_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_json_provider_2_9_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_9_5.xml
.idea/libraries/Maven__com_github_fge_jackson_coreutils_1_0.xml
.idea/libraries/Maven__com_github_fge_json_patch_1_3.xml
.idea/libraries/Maven__com_github_virtuald_curvesapi_1_04.xml
.idea/libraries/Maven__com_google_guava_guava_14_0.xml
.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_6_1.xml
.idea/libraries/Maven__com_sun_mail_javax_mail_1_5_0.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
.idea/libraries/Maven__javax_activation_activation_1_1.xml
.idea/libraries/Maven__javax_javaee_api_7_0.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__mysql_mysql_connector_java_8_0_15.xml
.idea/libraries/Maven__net_jcip_jcip_annotations_1_0.xml
.idea/libraries/Maven__org_apache_commons_commons_collections4_4_1.xml
.idea/libraries/Maven__org_apache_poi_poi_3_17.xml
.idea/libraries/Maven__org_apache_poi_poi_ooxml_3_17.xml
.idea/libraries/Maven__org_apache_poi_poi_ooxml_schemas_3_17.xml
.idea/libraries/Maven__org_apache_xmlbeans_xmlbeans_2_6_0.xml
.idea/libraries/Maven__org_dbunit_dbunit_2_6_0.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_jboss_resteasy_resteasy_jackson2_provider_3_6_1_Final.xml
.idea/libraries/Maven__org_json_json_20180813.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Maven__postgresql_postgresql_8_4_701_jdbc3.xml
.idea/libraries/Maven__stax_stax_api_1_0_1.xml
.idea/misc.xml
.idea/modules.xml
src/Main.java
WineCellarJava.iml
*.class
target/maven-archiver/pom.properties
target/WineCellarJava-1.0-SNAPSHOT.jar
*.lst
target/classes/META-INF/WineCellarJava.kotlin_module
*.class
.idea/artifacts/wine_cellar.xml
